html{
    font-size: larger;
}
body{
    text-align: center;
    background-color: gray;
    font-family: 'Almarai', 'sans-serif','Arial', 'Helvetica';
}
ul {
    text-align: center;
    list-style-position:inside;
}
header{
    color: gold;
}
h2{
    color: rgb(153, 3, 3);
}
.links{
    margin: 30px;
}
.styled_links{
    color: rgb(139, 2, 2);
    text-decoration: none;
    background-color: rgb(2, 122, 2);
    padding: 10px;
    margin-right: 35px;
    border-radius: 15px;
}
.skills{
    display: block;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 35px;
    color: rgb(139, 2, 2);
    background-color: rgb(2, 122, 2);
}
.skills:hover{
    border: 3px rgb(2, 122, 2) solid;
    background-color: rgb(139, 2, 2);
    color: rgb(2, 122, 2);
}
.block{
    display: inline-block;
}
.styled_links:hover{
    border: 3px rgb(2, 122, 2) solid;
    background-color: rgb(139, 2, 2);
    color: rgb(2, 122, 2);
}
footer{
    padding: 15px;
    border-radius: 15px;
}
footer a{
    color: gold;
    padding:12px;
}
footer a:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
    padding:12px;
}
a{
    text-decoration: none;
}
