header{
    background-color: rgb(255, 227, 71);
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 15px;
    opacity: 95%;
}
header:hover{
    opacity: 100%;
}
h1{
    color: rgb(179, 175, 175);
    padding: 20px;
    width: 478px;
    height: 73px;
    display: inline-block;
    background-color: rgb(253, 250, 209);
    background-image: url("img/head.png");
    border-radius: 15px;
    margin-left: 55px;
}
.footer:hover{
    background-color: rgb(241, 239, 199);
    color: rgb(5, 153, 42);
    border: 3px gray solid;
}
body{
    font-family: 'Almarai', sans-serif,Arial, Helvetica;
    text-align: center;
    font-size:x-large;
}
a{
    text-decoration: none;
    color: rgb(5, 153, 42);
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background-color: rgb(241, 239, 199);
    border-radius: 15px;
}
div{
    padding-top: 8px;
    background-color: rgb(253, 250, 209) ;
    border-radius: 15px;
    margin-top: 30px;
    line-height: 70px;
    opacity: 95%;
}
select{
    border-radius: 7px;
    font-size: x-large;
    background-color: rgb(0, 180, 9);
    border: 2px rgb(6, 109, 11) solid;
    height: 70px;
    width: 100px;
    margin-left: 15px;
    float: left;
}
select:hover{
    background-color: rgb(3, 163, 11);
    border: 3px rgb(6, 109, 11) solid;
}
.times{
    display: block;
    color: blue;
}
label{
    float: left;
}
#rangespan{
    margin-right: 50px;
    color: green;
}
#myrange{
    margin-left: 44px;
    width: 200px;
}
div:hover{
    border: 2px green solid;
    background-color:rgb(241, 239, 199);
}
.quote{
    color: rgb(4, 134, 91);
}
#active{
    background-color: green;
    color: blue;
}
#section1{
    margin-top: 30px;
}
.number{
    font-family: 'Almarai', sans-serif,Arial, Helvetica;
}
#final{
    color: darkblue;
}
.one{
    color: rgb(133, 10, 10);
}
.three{
    color: red;
}
.ten{
    color:blue;
}
.four{
    color: blue;
}
.seven{
    color: blue;
}
span{
    display: inline-block;
    text-align: center;
    color: rgb(5, 153, 42);
    margin-bottom: 10px;
    margin-left: 53px;
}
.margin{
    margin-right: 50px;
}
input{
    font-size:xxx-large ;
    border-radius:10px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 40px;
    margin-left: 34px;
    height: 80px;
    width: 130px;
    background-color: rgb(0, 180, 9);
    border: 2px rgb(138, 2, 2) solid;
}
#color{
    color: red;
}
.refresh{
    float: right;
    background-color: transparent;
    border: 0ch;
    border-radius: 15px;
}
.refresh:hover{
    border: 1px black solid;
}
#button24{
    margin-right:150px ;
}
#button25{
    margin-right:150px ;
}
